
/* =========================================
                  First Section
   ========================================= */

.common-section {
  padding: 60px 25px 60px 25px;
  display: flex;
  justify-content: center;
}

.first-section {
  background-color:#fbe7c8;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heart-logo-container {
  background-color: #f8bc86;
  padding: 10px 10px 10px 10px;
  width: 40px;
  border-radius: 50%;
  margin: 0px 0px 10px 0px;
}

.heart-logo {
  margin-bottom: -10px;
  width: 100%;
}

.text-container {
  margin-bottom: 40px;
}

.title-text-first {
  margin: 0;
  color: rgb(60, 60, 60);
  font-size: 40px;
}

.description-text-first {
  margin-top: 30px;
  font-size: 14px;
  color: rgba(39, 39, 39, 0.789);
}



/* =========================================
                  Second Section
   ========================================= */

  .second-section {
  background-color:  #faf7f2;
}

.info-container {
  background-color: white;
  padding: 25px 50px 45px 50px; 
  border-radius: 10px;
  max-width: 800px;
  text-align: left; 
  line-height: 1.8;
  border: 1px solid rgba(209, 208, 208, 0.427);
}

.text-title {
  font-size: 18px;
  color: rgba(56, 56, 56, 0.914);
}

.story-text {
  font-size: 15px;
  color: rgba(60, 60, 60, 0.786);
}



/* =========================================
                  third Section
   ========================================= */


@media (max-width: 700px){
  .grid-container {
  grid-template-columns: 1fr;
  
}

  .preview-container {
    max-width: 700px;
    background-color: white;
    padding: 20px 20px 25px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
}

@media (min-width: 701px) and (max-width: 1299px){
   .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.preview-container {
  max-width: 400px;
  background-color: white;
  padding: 20px 20px 25px 20px;
  border-radius: 10px;
}
}

@media (min-width: 1300px){
  .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.preview-container {
  max-width: 250px;
  background-color: white;
  padding: 20px 20px 25px 20px;
  border-radius: 10px;
}
}



.picture-container {
  background-color: #fff6e8;
  display: inline-block;
  padding: 10px 12px 10px 12px;
  border-radius: 50%;
}

.logo-picture {
  width: 35px;
  margin: 0;
}

.text-title {
  margin: 10px 0px 15px 0px;
  font-size: 20px;
  color: rgb(27, 27, 27);
}

.description-text {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgba(49, 49, 49, 0.829);
  font-size: 14px;
}


/* =========================================
                  Fourth Section
   ========================================= */

  .final-section {
    padding: 60px 25px;
    display: flex;      
    justify-content: center; 
}

.grid-container-final {
    display: grid;
    width: 100%;
    justify-content: center;
    gap: 25px;
}

@media (max-width: 900px) {
    .grid-container-final {
        grid-template-columns: 1fr;
        justify-items: center; 
    }
    
    .card-container {
        width: 100%;
        max-width: 600px;
    }
}

@media (min-width: 901px) {
    .grid-container-final {
        grid-template-columns: 1fr 1fr; 
        max-width: 1000px; 
    }
    
    .card-container {
        width: 100%;
        max-width: 600px; 
    }
}

.card-container {
    padding: 20px 15px 50px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
}

.container-color-first {
  background-color: #8fa87d;
}

   .header-card-container {
    display: flex;
    align-items: center;
   }

   .text-container-card {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid #ffffff4d;
    padding-bottom: 8px; 
   }


   .clock-container {
    background-color: #fff6e858;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    padding: 3px 3px 3px 3px;
   }

   .clock-logo {
    width: 50px;
   }

   .card-title {
    color: white;
    font-size: 25px;
    font-weight: 500;
   }

   .day, .time {
    color: white;
    font-size: 14px;
   }

   .text-container-card-second {
    display: flex;
    align-items: flex-start;
   }

   .check-background {
    background-color: #fff6e8;
    padding: 0px 10px 0px 10px;
    border-radius: 50%;
    margin-right: 12px;
   }

   .card-title-second {
    font-size: 20px;
    margin-left: 10px;
   }

   .check {
    font-size: 10px;
    color: orange;
   }
   
   .service-type {
    font-size: 16px;
    margin: 8px 0px 0px 0px;
    font-weight: 500;
    color: rgb(43, 43, 43); 
   }

   .service-description {
    margin: 8px 0px 20px 0px;
    font-size: 14px;
    color: rgb(68, 68, 68);
   }

   .container-color-second {
    background-color: rgb(255, 255, 255);
   }