.background-color {
  background-color: #faf7f2;
  padding: 60px 25px 60px 25px;
}


@media (min-width: 449px){
   .max-width-container {
    max-width: 450px; 
    margin-left: auto;  
    margin-right: auto; 
    padding: 0;
    text-align: center;
  }


}


@media (max-width: 450px){
 .max-width-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    text-align: center;
  }
}

.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo-login-container{
 width: 40px;
 height: 40px;
 padding: 10px 10px 10px 10px;
 border-radius: 50%;
 background-color: #f8bc86;
 display: flex;
 justify-content: center;
}

.logo-login-picture {
  width: 90%;
}

.Title-text {
  margin: 0;
  margin-top: 10px;
  color: rgb(60, 60, 60);
  font-size: 40px;
}

.text-description {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(39, 39, 39, 0.789);
  margin-bottom: 30px;
}

.size{
  font-size: 14x;
}


.container-guest-card{
  border-radius: 10px;
  background-color: #f4e5d3;
  padding: 24px 24px;
}

.guest-button{
  border: none;
  font-size: 14px;
  width: 90%;
  padding: 10px 0px 10px 0px;
  border-radius: 12px;
  cursor: pointer;
  background-color: rgb(241, 240, 240);
  border: 1px solid rgb(0, 0, 0, 0.15);

}

 .guest-button:hover{
  transition: 0.3s;;
    background-color: #f4e5d3;
  }

  .a-benefits{
  margin-top: 32px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px 15px;
  border: 1px solid rgba(201, 201, 201, 0.655);
  } 

  .benefit-container{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 12px;
    margin-left: 14px;
  }

  .text-benefit{
    font-size: 13px;
    color: rgb(79, 79, 79);
  }

  .title-benefit {
    font-size: 18px;
    color: rgb(48, 48, 48);
    margin: 8px 0px 15px 0px;
  }

  .check-mark-container{
    background-color: #f4e5d3;
    padding: 2px 7px 2px 7px;
    border-radius: 50%;
  }

  .check-mark-container span{
    color: rgb(228, 163, 42);
  }

  .form-box{
    background-color: #fff;
    padding: 32px;
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  

  .input-field {
    flex-direction: column;
    text-align: left;
    max-height: 65px;
    padding-bottom: 30px;
  }

  .input-field label{
    font-size: 14px;
    color: #272727;
    font-family: sans-serif;
  }

  .input-field input{
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: rgb(246, 245, 245);
    width: 94%;  
    height: 30px;
  }

  .create-account-btn{
    background-color: #e99c58;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 12px 0px 12px;
    margin-bottom: 14px;
    cursor: pointer;
  }

   .create-account-btn:hover{
    background-color: #eb9347;
   }

   .create-account-btn:active{
    background-color: #e4822c;
   }

  .create-account-btn i{
    margin-right: 10px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
  }


  .sign-in-btn{
    background-color: #ffffff;
    border: none;
    color: rgb(92, 92, 92);
  }

  .sign-in-btn:hover{
    color: black;
  }

  .sign-in-btn span{
    color: #e99c58; 
  }

