    .nav-bar {
      position: fixed;
      z-index: 100;   
      display: flex;
      justify-content: center;
      background-color: white;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 55px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    }

    .max-width {       
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1300px;
    }

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: space-between  ;
    }

    .logo-nav-picture {
      width: 50px;
      margin-right: 12px;
    }

    .business-name-nav {
      color: orange;
      font-size: 18px;
    }

    .nav-links {
      display: flex;
      justify-content: space-between;
      margin-right: 70px;
      align-items: center;
      gap: 15px; 
         }


    .link-anchor {
      text-decoration: none; 
      color: #333;
      font-weight: 500;
      padding: 10px 15px 10px 15px;
      transition: 0.17s;
      border-radius: 5px;
    }

    .link-anchor:hover {
      background-color: #e67e22;
    }

    #menu-toggle, .hamburger {
      display: none;
    }

    @media (max-width: 850px) {
      .hamburger {
        display: block; 
        font-size: 24px;
        cursor: pointer;
        }

      .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background-color: #ffffff; 
        padding: 10px 0;
        gap: 0;
        text-align: left;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
      }

      .link-container {
        width: 100%;
      }

      .link-anchor {
        display: block; 
        width: 100%;
        padding: 15px 30px; 
        border-radius: 5px;
        box-sizing: border-box;
        }

      #menu-toggle:checked ~ .nav-links {
        display: flex;
      }
    }