
.common-section{
  padding: 48px 24px;
}

.first-color {
  background-color: #fbe7c8;
}

.first-section h1{
  margin: 0;
  color: rgb(52, 52, 52);
  font-size: 40px;
}

.first-section p{
  color: rgb(90, 89, 89);
  font-size: 16px;
  margin: 12px 0 0 0 ;
}

.quick-section {
  padding: 20px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.grid{
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
}

.grid a{
  background-color: #fbe7c8;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(20, 19, 19);
  font-weight: 500;
}

.grid a:hover{
  background-color: #fadeba;
  transition: ease 0.3s;
}

.second-color {
  background-color: #faf7f2;
}

@media (max-width: 1119px){
  .max-widtd-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 }


}


@media (min-width: 1200px){
  .max-width-container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
 }
}

@media (max-width: 600px){
    .order-container{
     height: 320px;
     }
  }

.title-container h2{
  display: inline-block;
  margin: 20px 0 20px 0;
  font-size: 20px;
  color: rgb(64, 64, 64);
  padding-bottom: 15px;
  border-bottom: 2px solid orange;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}


.order-container{
  display: flex;
  flex-direction: column;
  border-radius: 12px; 
  overflow: hidden; 
  transition: 0.3s ease;
  background-color: white;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.food-photo-container {
  width: 100%;
  overflow: hidden; 
  background-color: rgb(221, 221, 221);
}

.order-container:hover{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); 
}

.food-photo-container:hover .picture{
  transform: scale(1.05);
}

.picture{
  width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
  transition: 0.3s ease;
}

.info-menu-container{
  padding: 16px;
}

.info-menu-container h4{
  margin: 0;
  font-size: 18px;
  color: rgb(39, 39, 39);
}

.info-menu-container p{
  margin: 10px 0 14px 0;
  font-size: 14px;
  color: rgb(77, 77, 77);
}

.price-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-container span{
  color: rgb(252, 123, 43);
  font-size: 16px;
}

.price-container button{
  background-color: rgb(228, 89, 3);
  border: none;
  font-size: 14px;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.price-container button:hover{
  background-color: rgb(255, 98, 0);
  transition: ease 0.3s;
}

.price-container button:active{
  background-color: rgb(186, 73, 3);
}

.second-container{
  margin-top: 40px;
}




  .cart-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.cart-box {
  background: white;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.cart-item button {
  padding: 2px 8px;
}

.cart-footer {
  margin-top: 15px;
  text-align: center;
}

#place-order {
  background: #e67e22;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 8px;
}

#close-cart {
  border: solid 1px rgba(0,0,0,0.4);
  padding: 5px 12px;
  background-color: rgb(229, 228, 228);
  font-size: 12px;
}

#close-cart:hover{
  background-color: rgb(211, 208, 208);
  transition: ease 0.3s;
}




